{% extends "base.html" %}
{% block title %}
    Contact
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    
   <img src="{% static 'images/me.png' %}" class="bi mt-4 mb-3" width="960" height="1280">
   <h1 class="text-body-emphasis">Contact</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
       <ul class="list-group">
            <li class="list-group-item"><a href="https://github.com/Zaxaroff/" target="_blank">My projects on Github</a></li>
            <li class="list-group-item"><a href="mailto:quill@craftsman.lol">zaxarov.igor2011@yandex.ru</a></li>
        </ul>
    </p>
  </div>
{% endblock %}